<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
      .login-form {
          width: 640px;
          margin: 50px auto;
          border: 20px solid #55d3c2
      }
      .mydepart {
        padding: 5px;
      }


      .btn {        
          font-size: 15px;
          font-weight: bold;
      }



  </style>
  </head>
  
  <body>
      <body>


          <div class="login-form">
              <form>
                  <h1 class="mydepart">Show Department</h1> 

                  
                  <table class="table table-striped form-group">
                          <thead>
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Name</th>
                              <th scope="col">Location</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for row in rows %}
                            <tr>
                              <th scope="row">{{row[0]}}</th>
                              <th>{{row[1]}}</th>
                              <th>{{row[2]}}</th>
                              <th>
                                  <form action="/viewemployees" method="POST">
                                        <input type="hidden" name="info" value="{{row[0]}}" />
                                        <input type="submit" value="Info" />
                                  </form>
                              </th>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                  

              </form>
          </div>
    
</body>
</html>